{% extends 'aplicacion/home.html' %}

{% block titulo %}
    <h1 class="mb-5">Autor</h1>
{% endblock titulo %}

{% block contenido %}
    <h2>Sobre Mí</h2>
    <p>¡Hola! Mi nombre es Alonso Basaul, soy chileno y tengo 30 años. Mi profesión es Ingeniero en Conectividad y Redes. Durante los últimos 5 años, he estado inmerso en el mundo del desarrollo de soluciones digitales, especialmente orientadas a mejorar los procesos educativos y enriquecer la experiencia tanto de estudiantes como de profesores.</p>
    <p>Además de mi formación como Ingeniero en Conectividad y Redes, también poseo una capacitación complementaria como Coordinador de Enlaces. Esta combinación de conocimientos técnicos y habilidades pedagógicas me ha permitido desarrollar A.B. GestionEstudiantes, una herramienta diseñada específicamente para simplificar la gestión de información en entornos educativos.</p>
    
    <h2>Acerca de A.B. GestionEstudiantes</h2>
    <p>A.B. GestionEstudiantes es una plataforma que nació con el objetivo de proporcionar una solución integral para la gestión de información relacionada con estudiantes, profesores, cursos y entregables. La idea surgió de la necesidad de simplificar y optimizar la administración y organización de actividades educativas en instituciones educativas de todos los niveles.</p>
    <h3>Objetivo Funcional</h3>
    <ul>
        <li>Facilitar la administración y organización de actividades educativas.</li>
        <li>Mejorar la comunicación y colaboración entre estudiantes y profesores.</li>
        <li>Proporcionar herramientas para gestionar información de manera eficiente y centralizada.</li>
    </ul>
    <h3>Características Principales</h3>
    <ul>
        <li>Gestión de estudiantes: Registro, edición y eliminación de información de estudiantes.</li>
        <li>Gestión de profesores: Administración de datos de profesores y su asignación a cursos.</li>
        <li>Gestión de cursos: Creación, edición y seguimiento de cursos y sus entregables.</li>
        <li>Gestión de entregables: Seguimiento de tareas, proyectos y evaluaciones asociadas a cursos.</li>
        <li>Autenticación de usuarios: Sistema de inicio de sesión seguro para estudiantes, profesores y administradores.</li>
    </ul>
    
    <h2>¿Cómo puedo acceder a A.B. GestionEstudiantes?</h2>
    <p>Actualmente, A.B. GestionEstudiantes está en desarrollo activo y estará disponible próximamente para su lanzamiento público. Si estás interesado en obtener más información o colaborar en el proyecto, no dudes en ponerte en contacto conmigo a través de alonsobasaul@gestionestudiantes.com</p>
    <p>¡Gracias por tu interés en A.B. GestionEstudiantes!</p>
{% endblock contenido %}
